/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
    margin: 0 !important;
}

.error {
    color: red;
}

.w100 {
    width: 100%;
}
